html {
    width:100%;
    height:100%;
}

.bold {
    font-weight: bold;
}

@font-face {
    font-family: Avenir;
    src: url(../recursos/Fonts/AvenirNextLTPro-Regular.otf);
}

.bg-white {
    background-color: white;
}

.border-grey {
    border: solid 1px #4B4B4A;
}

ul li {
    text-decoration: none;
}

.row-top {
    position:fixed;
    width:100%;
    height:70px;
    margin-top: 10px;
    border-bottom: solid 1px;
}

.logo {
    height: 40px;
    width : auto;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-top-10 {
    margin-top:20px;
}

.padding-top-10 {
    padding-top:20px;
}

.padding-all-10 {
    padding: 20px;
}

.margin-left-10 {
    margin-left: 20px;
}

.user-logo {
    height: 45px;
    width:auto;
    
    margin-left:15px;
}

.left {
    float:left;
}

.user-div {
    margin-top:10px;
}

.user-name {
    margin-top:20px;
}

.nav-left {
    position:fixed;
    top:80px;
    width:200px;
    bottom:0px;
    height: 100%;
    border-right: solid 1px black;
}

.nav-div {
    text-align: center;
}

.nav-button {  
    padding:10px;
}

.nav-button {
    background-color: white;
}

.nav-button span {
    color : #4b4a4e;
    text-decoration: none;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #4b4a4e;
}

.nav-button:hover span {
    color:white;   
}

.nav-button-opt {
    padding:10px;
    text-align: left;
    cursor: pointer;
}

.nav-button-opt-container {
    background-color:#dcdddf;
}

.content {
    position:absolute;
    top:80px;
    left:200px;
    width:100%;
    height:100%;
    
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;

}



/*LOADING PAGE*/

.logo-center-screen {
    position:absolute;
    top:50%;
    left:50%;
    margin-top: -25px;
    margin-left:-50px;
}

@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}

@-ms-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}

.bg-colours {
    width:200px;
    height:40px;
}

.bg-colours img {
    background: url("../recursos/Imagenes/Logotipos/paleta.png") repeat-y;
    background-position: 0px 0px;
 
	animation: animatedBackground 3s linear infinite;
	-moz-animation: animatedBackground 3s linear infinite;
	-webkit-animation: animatedBackground 3s linear infinite;

}

.logo-loading {
    height: 50px;
}

/*LOGIN*/

.login-form-container {
    position:absolute;
    width:400px;
    height:400px;  
}

.login-center-screen {
    top:50%;
    left:50%;
    margin-top: -200px;
    margin-left:-200px;
}

.login-logo img {
    width:200px; 
    margin-left:100px;
    
    margin-bottom:40px;
}

.login-form {
    margin: 10px;
    text-align: center;
}

.login-form-input  input {
    width:300px;
    margin: 5px;
    border: solid 1px #4b4a4e;
    padding-left:5px;
    font-family: Avenir;
}

.login-form-input-submit input {
    margin-top: 10px;
    padding-top:7px;
    width:120px;
    padding-left: 10px;
    height: 30px;
    background-color: #f27785;
    color: #4b4a4e;
    border-radius: 0px;
    font-size: 0.9em;
    border: none;
}
