.bg-white {
    background-color: white;
}

.border-grey {
    border: solid 1px #4B4B4A;
}

.logo img {
    height: 40px;
    width : auto;
}

.padding-all-10 {
    padding: 20px;
}

.margin-left-10 {
    margin-left: 20px;
}

.user {
    height:auto;
}