@font-face {
    font-family: Avenir;
    src: url(../recursos/Fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: 'Glyphicons Halflings';
 
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

html {
    overflow-x: hidden;
}

span, input, a {
    font-family: Avenir;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.font-big {
    font-size: 6em;
}

.font-med {
    font-size: 3em;
}

.font-sm {
    font-size: 2em;
}

.bg-white {
    background-color: white;
}

.border-grey {
    border: solid 1px #4B4B4A;
}

ul li {
    text-decoration: none;
}

.row-top {
    position:fixed;
    width:100%;
    height:80px;
    border-bottom: solid 1px #8a8c8f;
}

.logo {
    height: 40px;
    width : auto;
}

.logo-container {

}

.margin-left-30 {
    margin-left: 30px;
}

.margin-top-10 {
    margin-top:20px;
}

.padding-top-10 {
    padding-top:20px;
}

.padding-all-10 {
    padding: 20px;
}

.margin-left-10 {
    margin-left: 20px;
}

.user-logo {
    height: 45px;
    width:auto;
    
    margin-left:15px;
}

.left {
    float:left;
}

.user-div {
    margin-top:10px;
}

.user-name {
    margin-top:20px;
}


.content {
    position:absolute;
    top:80px;
    left:200px;
    width:100%;
    height:100%;
    
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;

}



/*LOADING PAGE*/

.logo-center-screen {
    position:absolute;
    top:50%;
    left:50%;
    margin-top: -25px;
    margin-left:-50px;
}

@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -1350px 0; }
}

@-ms-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}

.bg-colours {
    height:40px;
}

.bg-colours img {
    background: url("../recursos/Imagenes/Logotipos/paleta4.png") repeat-y;
    background-position: 0px 0px;
 
	animation: animatedBackground 10s linear infinite;
	-moz-animation: animatedBackground 3s linear infinite;
	-webkit-animation: animatedBackground 4s linear infinite;

}

.logo-loading {
    height: 80px;
}

/*LOGIN*/

.login-form-container {
    position:absolute;
    width:400px;
    height:400px;  
}

.login-center-screen {
    top:50%;
    left:50%;
    margin-top: -200px;
    margin-left:-200px;
}

.login-logo img {
    width:200px; 
    margin-left:100px;
    
    margin-bottom:40px;
}

.login-form {
    margin: 10px;
    text-align: center;
}

.login-form-input  input {
    width:300px;
    margin: 5px;
    border: solid 1px #4b4a4e;
    padding-left:5px;
}

.login-form-input-submit input {
    margin-top: 10px;
    padding-top:7px;
    width:120px;
    padding-left: 10px;
    height: 30px;
    background-color: #f27785;
    color: #4b4a4e;
    border-radius: 0px;
    font-size: 0.9em;
    border: none;
}

/*NAVTOP*/

.nav-top-menu {
    height:70px;
}

.nav-top-menu-logo {
    height:100%;
}

.nav-top-menu-logo img {
    margin-top:15px;
    margin-left:30px;
    height: 40px;
}

.nav-top-menu-item span a {
    color:white;
}

.nav-top-menu-user {
    height:70px;
}

.nav-top-menu-user span {
    float:right;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    font-size: 1.2em;
    color:white;
    font-weight: bold;
}

.nav-top-menu-user img {
    float:right;
    height:50px;
    margin-top:10px;
    margin-right:20px;
}

.nav-top-menu-item {
    height:100%;
    border-right:2px solid white;
}

.nav-top-menu-item span {
    color:white;
    margin-top:25px;
    display: block;
    text-align: center;
}


/*ROUTE NAV*/

.nav-route {
    height:40px;
}

.nav-route-span {
    margin-top:10px;
    margin-left: 20px;
}

.nav-route-span-page {
    margin-left: 10px;
}

/*CONTENT MENU*/

.menu-content {
    height:300px;
}

.menu-content-logo {
    display:block;
    text-align: center;
    margin-top:5%;
}

.menu-content-logo img {
    height:100px;
}

/*CONTENT MENU HEADER*/

.menu-content-header {
    text-align: center;
    margin-top:5%;
}

.menu-content-header span {
    font-size: 2em;
}

/*CONTENT MENU BODY*/

.menu-content-body {
    text-align: center;
    margin-top: 5%;
}

.menu-content-img {
    height:300px;
    padding-left:0;
}

.menu-content-body-img {
    padding-left:0px;
}

.menu-content-body-img img {
    width:100%;
    height:300px;
}

/*CONTENT MENU FOOTER*/


.menu-content-footer {
    text-align: center;
    margin-top: 5%;
}

.menu-content-footer span {
    text-decoration: underline;
}

/*BACKGROUND COLORS*/

.bg-grey-light-1 {
    background-color: #dcdddf;
}

.bg-grey-light-2 {
    background-color: #c7c8ca;
}

.bg-grey-light-3 {
    background-color: #b2b3b7;
}

.bg-grey-mid-1 {
    background-color: #9d9fa2;
}

.bg-grey-mid-2 {
    background-color: #8a8c8f;
}

.bg-grey-mid-3 {
    background-color: #76787b;
}

.bg-grey-dark-1 {
    background-color: #636366;
}

.bg-grey-dark-2 {
    background-color: #4b4c4d;
}

.bg-grey-dark-3 {
    background-color: #4b4a4e;
}

.bg-pink {
    background-color: #f27785;
}

/*TEXT COLORS*/

.txt-grey-light-1 {
    color: #dcdddf;
}

.txt-grey-light-2 {
    color: #c7c8ca;
}

.txt-grey-light-3 {
    color: #b2b3b7;
}

.txt-grey-mid-1 {
   color: #9d9fa2;
}

.txt-grey-mid-2 {
    color: #8a8c8f;
}

.txt-grey-mid-3 {
    color: #76787b;
}

.txt-grey-dark-1 {
    color: #636366;
}

.txt-grey-dark-2 {
    color: #4b4c4d;
}

.txt-grey-dark-3 {
    color: #4b4a4e;
}

.txt-white {
    color: white;
}


/*CALENDAR PAGE*/

.nav-top-calendar-logo {
    
}

.nav-top-calendar {
    border-bottom: solid 1px #8a8c8f;
    height:70px;
}

.nav-top-calendar-user {
    font-size: 1.2em;
    color:white;
    height:100%;
    font-weight: bold;
    border-left: solid 1px #4b4a4e;
}

.nav-top-calendar-user-logo .badge {
    position:absolute;
    bottom:40px;
    right:30px;
    color: #4b4a4e;
    border: solid 1px #4b4a4e;
    background-color: white;
}

.nav-top-calendar-user-logo img {
    width:50px;
    margin-right: 30px;
    margin-top:10px;
    float:right;   
}

.nav-top-calendar-user-name {
    display: block;
    float:right;
    color: #4b4a4e;
    margin-top:25px;
    margin-right:50px;
}

/*NAVLEFT*/

.nav-left {
    position:fixed;
    top:70px;
    width:200px;
    bottom:0px;
    height: 100%;
    border-right: solid 1px #c7c8ca;
}

.nav-div {
    text-align: center;
}

.nav-button {  
    padding:10px;
    border-bottom: solid 1px #c7c8ca;
}

.nav-button {
    background-color: white;
}

.nav-button span {
    color : #4b4a4e;
    text-decoration: none;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #9d9fa2;
}

.nav-button:hover span {
    color:white;   
}

.nav-button-opt {
    padding:10px;
    text-align: left;
    cursor: pointer;
    border-bottom: solid 1px #9d9fa2;
}

.nav-button-opt-container {
    background-color:#dcdddf;
}

/*CALENDARIO CONTENT*/

.calendario-content {

}

.calendario-route {
    margin-top:20px;
    border-bottom: solid 1px #9d9fa2;
    padding-bottom:5px;
}

/*ALERT*/

.login-alert {
    text-align: center;
    margin-left: 70px;
    width:250px;
    transition: height 10s ease-in;
}

.login-alert pop {
    height: 100px;
}
